# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env

# Logs y config temporales
Monitor/Logs/*
!Monitor/Logs/.gitkeep
JuiceBoxEngine/configs/*
!JuiceBoxEngine/configs/.gitkeep

# Textos sueltos
JuiceBox_TUI/*.txt
*.txt

# Root the box
RootTheBox/
